body {
    background-color: lawngreen;
}
#player1_name, #player2_name {
	margin-left: 20px;
    display:inline-block;
}
#output {
    background: blue;
    border-radius: 10px;
    border-top: 10px solid crimson;
    padding: 10px;
    float: none;
    text-align: left;
}